changeLogFile=changelog-master.yaml
url=jdbc:postgresql://localhost:5436/airline_ops
username=library_user
password=library_pass
driver=org.postgresql.Driver

###  Entrar a PostgreSQL = docker exec -it library-postgres psql -U library_user -d airline_ops
###  Ver todas las bases de datos =  \l
### Ver todas las tablas  =  \dt
### ver los shema = \dn
###  Salir = \q


### Apagar contenedores = docker compose down
### (Volver a levantar el docker)  = docker compose up -d

## docker compose down -v
## docker compose up -d

## Ejecutar cambios (APLICA TODO) = docker compose --profile tooling run --rm liquibase update
### Ver SQL sin ejecutar = docker compose --profile tooling run --rm liquibase updateSQL
### Ver estado = docker compose --profile tooling run --rm liquibase status